<ul class="nav flex-column long-bg" th:fragment="filter">
    <h4 class="text-light">FILTRY</h4>
    <form action="/admin/pilots" method="get">
        <input type="hidden" name="filter" value="true">
        <li class="nav-item">
            <label>
                <button><input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="SZUKAJ">
                </button>
            </label>
        </li>
        <li class="nav-item">
            <label>
                Nazwisko/Imię
                <input type="text" name="name">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Numer Licencji
                <input type="text" name="licence">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Aktywny:<br>
                <input type="radio" name="active" value=true>
                Tak
                <br>
                <input type="radio" name="active" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Szybowcowy:<br>
                <input type="radio" name="glider" value=true>
                Tak
                <br>
                <input type="radio" name="glider" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Samolotowy:<br>
                <input type="radio" name="engine" value=true>
                Tak
                <br>
                <input type="radio" name="engine" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Instruktor Szybowcowy:<br>
                <input type="radio" name="fis" value=true>
                Tak
                <br>
                <input type="radio" name="fis" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Instruktor Samolotowy:<br>
                <input type="radio" name="fia" value=true>
                Tak
                <br>
                <input type="radio" name="fia" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Holownik:<br>
                <input type="radio" name="tow" value=true>
                Tak
                <br>
                <input type="radio" name="tow" value=false>
                Nie
            </label>
        </li>
    </form>
</ul>
