<ul class="nav flex-column long-bg" th:fragment="filter" xmlns:th="http://www.thymeleaf.org">
    <h4 class="text-light">FILTRY</h4>
    <form th:action="@{/admin/pilots}" method="get" th:object="${pilotFilter}">
        <input type="hidden" name="filter" value="true">
        <li class="nav-item">
            <label>
                <button><input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="SZUKAJ">
                </button>
            </label>
        </li>
        <li class="nav-item">
            <label>
                Nazwisko/Imię
                <input type="text" th:field="*{name}" th:value="*{name}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Numer Licencji
                <input type="text" th:field="*{licence}" th:value="*{licence}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Aktywny:<br>
                <input type="radio" th:field="*{active}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{active}" th:value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Szybowcowy:<br>
                <input type="radio" th:field="*{gliderPilot}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{gliderPilot}" th:value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Samolotowy:<br>
                <input type="radio" th:field="*{enginePilot}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{enginePilot}" th:value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Instruktor Szybowcowy:<br>
                <input type="radio" th:field="*{gliderInstructor}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{gliderInstructor}" th:value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Instruktor Samolotowy:<br>
                <input type="radio" th:field="*{engineInstructor}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{engineInstructor}" th:value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Holownik:<br>
                <input type="radio" th:field="*{tow}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{tow}" value=false>
                Nie
            </label>
        </li>
    </form>
</ul>
