<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title th:if="${action}==add">DODAJ LOT </title>
    <title th:if="${action}==edit">EDYTUJ LOT </title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header"></header>
<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col" th:if="${action=='add'}"><h3 class="text-color-darker text-uppercase">dodaj
                        lot</h3></div>
                    <div class="col" th:if="${action=='edit'}"><h3 class="text-color-darker text-uppercase">edytuj
                        lot</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4"
                                                       th:href="@{|/admin/${type}-flights/list?date=${flight.date}|}">Powrót</a>
                        </button>
                    </div>
                </div>
                <form method="post"
                      th:action="@{|/admin/${type}-flights/${action}|}" th:object="${flight}">
                    <input th:field="*{id}" th:if="${action}==edit" th:type="hidden" th:value="*{id}">
                    <input th:field="*{date}" th:type="hidden" th:value="*{date}">
                    <input th:field="*{tow}" th:if="${action=='edit'&&type=='engine'}" th:type="hidden"
                           th:value="*{tow}">
                    <input th:field="*{engineFlight.id}"
                           th:if="${type=='glider'&&action=='edit'&&flight.startMethod.toString().equals('ATTO')}"
                           th:type="hidden" th:value="*{engineFlight.id}">
                    <table class="table borderless">
                        <tbody>
                        <tr class="d-flex dashed" th:if="${action}==edit">
                            <th class="col-2" scope="row">AKTYWNY</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <input th:field="*{active}" th:value="*{active}" type="checkbox">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">PILOT / UCZEŃ PILOT</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <label class="first-option"
                                       th:classappend="${action=='edit'}? |option-*{pic!=null}|">
                                    <select class="pic" th:field="*{pic}" th:value="*{pic}">
                                        <option class="pic-value" value="">brak</option>
                                        <option class="pic-value" th:if="*{pic!=null}"
                                                th:text="*{pic.name}"
                                                th:unless="${#lists.contains(pilots,flight.pic)}"
                                                th:value="*{pic.id}"></option>
                                        <option class="pic-value" th:each="pilot: ${pilots}"
                                                th:text="${pilot.name}"
                                                th:value="${pilot.id}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option"
                                       th:classappend="${action=='edit'}? |option-*{pic==null}| : 'option-false'">
                                    <input placeholder="NAZWISKO I IMIĘ" th:field="*{picName}" th:value="*{picName}"
                                           type="text">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>

                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">HOLOWNIK</th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <label class="first-option"
                                       th:classappend="${action=='edit'}? |option-*{pic!=null}|">
                                    <select th:field="*{engineFlight.pic}">
                                        <option value="">brak</option>
                                        <option th:if="*{engineFlight.pic!=null}"
                                                th:text="*{engineFlight.pic.name}"
                                                th:unless="${#lists.contains(towpilots,flight.engineFlight.pic)}"
                                                th:value="*{engineFlight.pic.id}"></option>
                                        <option th:each="pilot: ${towpilots}" th:text="${pilot.name}"
                                                th:value="${pilot.id}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option" style="display: none">
                                    <input placeholder="NAZWISKO I IMIĘ" th:field="*{engineFlight.picName}"
                                           th:value="*{engineFlight.picName}"
                                           type="text">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">INSTRUKTOR</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <input th:field="*{instructor}" th:value="*{instructor}" type="checkbox">
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">NAUKA HOLOWANIA</th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <input th:field="*{engineFlight.instructor}" th:value="*{engineFlight.instructor}"
                                       type="checkbox">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">INSTRUKTOR / II PILOT</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <label class="first-option"
                                       th:classappend="${action=='edit'}? |option-*{copilot!=null||(copilot==null&&(copilotName==null||copilotName==''))}|">
                                    <select th:field="*{copilot}">
                                        <option value="">brak</option>
                                        <option th:if="*{copilot!=null}"
                                                th:text="*{copilot.name}"
                                                th:unless="${#lists.contains(pilots,flight.copilot)}"
                                                th:value="*{copilot.id}"></option>
                                        <option class="pilots" th:each="pilot: ${pilots}" th:text="${pilot.name}"
                                                th:value="${pilot.id}"></option>
                                        <option class="instructors" th:each="instructor: ${instructors}"
                                                th:text="${instructor.name}"
                                                th:value="${instructor.id}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option"
                                       th:classappend="${action=='edit'}? |option-*{copilot==null&&copilotName!=null&&copilotName!=''}| : 'option-false'">
                                    <input placeholder="NAZWISKO I IMIĘ" th:field="*{copilotName}" th:value="*{copilotName}"
                                           type="text">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">INSTRUKTOR HOLOWNIK</th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <label class="first-option"
                                       th:classappend="${action=='edit'}? |option-*{engineFlight.copilot!=null||(engineFlight.copilot==null&&(engineFlight.copilotName==null||copilotName==''))}|">
                                    <select th:field="*{engineFlight.copilot}">
                                        <option value="">brak</option>
                                        <option th:if="*{engineFlight.copilot!=null}"
                                                th:text="*{engineFlight.copilot.name}"
                                                th:unless="${#lists.contains(engineinstructors,flight.engineFlight.copilot)}"
                                                th:value="*{engineFlight.copilot.id}"></option>
                                        <option class="instructors" th:each="instructor: ${engineinstructors}"
                                                th:text="${instructor.name}"
                                                th:value="${instructor.id}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>

                                </label>
                                <label class="second-option"
                                       th:classappend="${action=='edit'}? |option-*{engineFlight.copilot==null&&engineFlight.copilotName!=null&&engineFlight.copilotName!=''}| : 'option-false'">
                                    <input placeholder="NAZWISKO I IMIĘ"
                                           th:field="*{engineFlight.copilotName}"
                                           th:value="*{engineFlight.copilotName}" type="text">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">ZADANIE</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <input th:field="*{task}" th:value="*{task}" type="text">
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">ZADANIE</th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <input placeholder="HOL" readonly th:field="*{engineFlight.task}" type="text"
                                       value="HOL">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">STATEK POWIETRZNY</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <label class="first-option"
                                       th:classappend="${action=='edit'}? |option-*{aircraft!=null||(aircraft==null&&(aircraftRegistrationNumber==null||aircraftRegistrationNumber==''))}|">
                                    <select th:field="*{aircraft}">
                                        <option value="">brak</option>
                                        <option th:if="*{aircraft!=null}"
                                                th:text="|*{aircraft.type} *{aircraft.registrationNumber}|"
                                                th:unless="${#lists.contains(aircrafts,flight.aircraft)}"
                                                th:value="*{aircraft.id}"></option>
                                        <option th:each="aircraft: ${aircrafts}" th:text="|${aircraft.type} ${aircraft.registrationNumber}|"
                                                th:value="${aircraft.id}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option"
                                       th:classappend="${action=='edit'}? |option-*{aircraft==null&&aircraftRegistrationNumber!=null&&aircraftRegistrationNumber!=''}| : 'option-false'">
                                    <input placeholder="TYP ST. POWIETRZNEGO" th:field="*{aircraftType}" th:value="*{aircraftType}"
                                           type="text"><br><br>
                                    <input placeholder="ZNAKI ST. POWIETRZNEGO" th:field="*{aircraftRegistrationNumber}"
                                           th:value="*{aircraftRegistrationNumber}"
                                           type="text">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">SAMOLOT HOLUJĄCY</th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <label class="first-option"
                                       th:classappend="${action=='edit'}? |option-*{engineFlight.aircraft!=null||(engineFlight.aircraft==null&&(engineFlight.aircraftRegistrationNumber==null||engineFlight.aircraftRegistrationNumber==''))}|">
                                    <select th:field="*{engineFlight.aircraft}">
                                        <option value="">brak</option>
                                        <option th:if="*{engineFlight.aircraft!=null}"
                                                th:text="|*{aircraft.type} *{aircraft.registrationNumber}|"
                                                th:unless="${#lists.contains(aircrafts,flight.aircraft)}"
                                                th:value="*{aircraft.id}"></option>
                                        <option th:each="aircraft: ${towaircrafts}" th:text="|${aircraft.type} ${aircraft.registrationNumber}|"
                                                th:value="${aircraft.id}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option"
                                       th:classappend="${action=='edit'}? |option-*{engineFlight.aircraft==null&&engineFlight.aircraftRegistrationNumber!=null&&engineFlight.aircraftRegistrationNumber!=''}| : 'option-false'">
                                    <input placeholder="TYP ST. POWIETRZNEGO" th:field="*{engineFlight.aircraftType}"
                                           th:value="*{engineFlight.aircraftType}"
                                           type="text"><br><br>
                                    <input placeholder="ZNAKI ST. POWIETRZNEGO" th:field="*{engineFlight.aircraftRegistrationNumber}"
                                           th:value="*{engineFlight.aircraftRegistrationNumber}"
                                           type="text">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">Godzina startu</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <input id="start-time" required th:field="*{start}" th:value="*{start}" type="time">
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">Godzina startu</th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <input id="tow-start-time" readonly th:field="*{engineFlight.start}"
                                       th:value="*{engineFlight.start}"
                                       type="time">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">Godzina lądowania</th>
                            <td th:classappend="${type=='engine'}? ' col-7':' col-4'">
                                <input class="touchdown-time" required th:field="*{touchdown}"
                                       th:type="time" th:value="*{touchdown}">
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">Godzina lądowania
                                samolotu holującego
                            </th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <input class="touchdown-time" th:field="*{engineFlight.touchdown}" th:type="time"
                                       th:value="*{engineFlight.touchdown}">
                            </td>
                        </tr>
                        <tr class="d-flex dashed" th:if="${type=='engine'}">
                            <th class="col-2" scope="row">Załoga</th>
                            <td class="col-7">
                                <textarea th:field="*{crew}" th:value="*{crew}"></textarea>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row" th:if="${type=='glider'}">Rozliczać szybowiec</th>
                            <th class="col-2" scope="row" th:if="${type=='engine'}">Rozliczać lot</th>
                            <td class="col-4">
                                <input th:field="*{charge}" th:text="Tak" th:value="*{charge}" type="checkbox">
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}">Rozliczać holówkę</th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <input th:default="checked" th:field="*{engineFlight.charge}"
                                       th:text="Tak" th:value="*{engineFlight.charge}" type="checkbox">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row"></th>

                            <td class="col-4 tow-section">
                                <label th:class="|first-option option-*{cost==null}|">
                                    <div class="btn btn-success first-option-button">Własna kwota</div>
                                </label>
                                <label th:class="|second-option option-*{cost!=null}|">
                                    <input step="0.01" th:field="*{cost}" th:value="*{cost}"
                                           type="number">
                                    <div class="btn btn-success second-option-button">Oblicz standardowo</div>
                                </label>
                            </td>
                            <th class="col-2 tow-section" scope="row" th:if="${type=='glider'}"></th>
                            <td class="col-4 tow-section" th:if="${type=='glider'}">
                                <label th:class="|first-option option-*{engineFlight.cost==null}|">
                                    <div class="btn btn-success first-option-button">Własna kwota</div>
                                </label>
                                <label th:class="|second-option option-*{engineFlight.cost!=null}|">
                                    <input step="0.01" th:field="*{engineFlight.cost}" th:value="*{engineFlight.cost}"
                                           type="number">
                                    <div class="btn btn-success second-option-button">Oblicz standardowo</div>
                                </label>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th class="col-2" scope="row">Płatnik</th>
                            <td class="col-4">
                                <select class="payers" th:field="*{payer}" th:value="*{payer}">
                                    <option value="">brak</option>
                                    <option class="payer" th:each="pilot:${pilots}" th:text="${pilot.name}"
                                            th:value="${pilot.id}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr class="d-flex dashed" th:if="${type=='glider'}">
                            <th class="col-2" scope="row">Rodzaj startu</th>
                            <td class="col-4">
                                <select class="start-method" id="start-method" th:field="*{startMethod}">
                                    <option th:class="${method}" th:each="method: ${T(pl.jgora.aeroklub.airflightslist.model.StartMethod).values()}"
                                            th:id="${method}"
                                            th:text="${method}"
                                            th:value="${method}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <input class="btn btn-warning nav-link" th:if="${action}==add" th:type="submit"
                                       value="Dodaj">
                                <input class="btn btn-warning nav-link" th:if="${action}==edit" th:type="submit"
                                       value="Edytuj">
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
