<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title th:text="${type=='glider'}? 'SZYBOWCE':'SAMOLOTY'">LOTY</title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>
<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <div class="m-4 p-3 width-medium">
            <div class="m-4 p-3 border-dashed view-height">

                <div class="row border-bottom border-3 p-1 m-1">
                    <div class="col noPadding">
                        <h3 class="text-color-darker text-uppercase"
                            th:text="${type=='glider'}? 'dni lotne szybowców' : 'dni lotne samolotów'">dni lotne</h3>
                    </div>
                    <div class="col-2 nav-link">
                        <a th:href="@{|/admin/${type}-flights?year=${previousYear}|}" th:if="${previousYear>2019}"
                           th:text="|<<${previousYear}|"></a>
                    </div>
                    <div class="col-2" th:text="${previousYear}+1">
                    </div>
                    <div class="col-2 nav-link">
                        <a th:href="@{|/admin/${type}-flights?year=${nextYear}|}" th:text="|${nextYear}>>|"></a>
                    </div>
                    <div>
                        <form method="get" th:action="@{|/admin/${type}-flights/list|}">
                            <input name="date" th:value="${today}" type="date">
                            <button><input class="btn btn-success nav-link" type="submit" value="PRZEJDŹ"/>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="schedules-content list">
                    <table class="table">
                        <thead>
                        <tr class="d-flex">
                            <th class="col-2">Lp.</th>
                            <th class="col-6">DATA</th>
                            <th class="col-2">ZATWIERDZONA</th>
                            <th class="col-2 center"></th>
                        </tr>
                        </thead>
                        <tbody class="text-color-lighter">
                        <tr class="d-flex" th:each="date,count: ${dates}">
                            <td class="col-2" th:text="${dates.size()-count.index}"></td>
                            <td class="col-6 text-size-big" th:text="${date.key}"></td>
                            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                                <form method="post"
                                      th:action="@{|/admin/${type}-flights/deactivate|}"
                                      th:if="${date.value==true}">
                                    <label class="switch">
                                        <input name="date" th:value="*{date.key}" type="hidden">
                                        <input class="btn btn-danger rounded-0 text-light m-1" type="submit"
                                               value=""/>
                                        <span class="slider round item-active"></span>
                                    </label>
                                </form>
                                <form method="post"
                                      th:action="@{|/admin/${type}-flights/activate|}"
                                      th:if="${date.value==false}">
                                    <label class="switch">
                                        <input name="date" th:value="*{date.key}" type="hidden">
                                        <input class="btn btn-success rounded-0 text-light m-1" type="submit"
                                               value=""/>
                                        <span class="slider round item-non-active"></span>
                                    </label>
                                </form>
                            </td>
                            <td class="col-2 align-items-center justify-content-center flex-wrap">
                                <a class="btn btn-info rounded-0 text-light m-1"
                                   th:href="@{|/admin/${type}-flights/list?date=${date.key}|}">Pokaż listę</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>