<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:if="${action}==add">DODAJ LOT </title>
    <title th:if="${action}==edit">EDYTUJ LOT </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header"></header>
<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">dodaj lot</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a th:href="@{/admin/engine-flights/list(date=${flight.date})}"
                                                       class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </button>
                    </div>
                </div>
                <form th:attrappend="action=${action=='add'}?@{/admin/engine-flights/add} : @{/admin/engine-flights/edit}"
                      th:object="${flight}" method="post">
                    <input th:if="${action}==edit" th:type="hidden" th:field="*{id}" th:value="*{id}">
                    <input th:type="hidden" th:field="*{date}" th:value="*{date}">
                    <input th:if="${action}==edit" th:type="hidden" th:field="*{tow}" th:value="*{tow}">
                    <table class="table borderless">
                        <tbody>
                        <tr th:if="${action}==edit" class="d-flex dashed">
                            <th scope="row" class="col-2">AKTYWNY</th>
                            <td class="col-7">
                                <input type="checkbox" th:field="*{active}" th:value="*{active}">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">PILOT / UCZEŃ PILOT</th>
                            <td th:classappend="${action=='edit'}? |option-*{pic!=null}|" class="col-7 first-option">
                                <select th:field="*{pic}" th:value="*{pic}">
                                    <option value="">brak</option>
                                    <option th:if="*{pic!=null}" th:unless="${#lists.contains(pilots,flight.pic)}"
                                            th:value="*{pic.id}"
                                            th:text="*{pic.name}"></option>
                                    <option th:each="pilot: ${pilots}"
                                            th:value="${pilot.id}"
                                            th:text="${pilot.name}"></option>
                                </select>
                                <div class="btn btn-success first-option-button">Spoza bazy</div>
                            </td>
                            <td th:classappend="${action=='edit'}? |option-*{pic==null}| : 'option-false'"
                                class="col-7 second-option">
                                <input type="text" th:field="*{picName}" th:value="*{picName}"
                                       placeholder="NAZWISKO I IMIĘ">
                                <div class="btn btn-success second-option-button">Z bazy</div>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">INSTRUKTOR</th>
                            <td class="col-7">
                                <input type="checkbox" th:field="*{instructor}" th:value="*{instructor}"
                                       style="display: ">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">INSTRUKTOR / II PILOT</th>
                            <td th:classappend="${action=='edit'}? |option-*{copilot!=null}|" class="col-7 first-option"
                                th:attrappend="style=*{copilotName==''||copilotName==null}?'display: inline': 'display: none'">
                                <select th:field="*{copilot}">
                                    <option value="">brak</option>
                                    <option th:if="*{copilot!=null}"
                                            th:unless="${#lists.contains(pilots,flight.copilot)}"
                                            th:value="*{copilot.id}"
                                            th:text="*{copilot.name}"></option>
                                    <option class="pilots" th:each="pilot: ${pilots}" th:value="${pilot.id}"
                                            th:text="${pilot.name}"></option>
                                    <option class="instructors" th:each="instructor: ${instructors}"
                                            th:value="${instructor.id}"
                                            th:text="${instructor.name}"></option>
                                </select>
                                <div class="btn btn-success first-option-button">Spoza bazy</div>
                            </td>
                            <td th:classappend="${action=='edit'}? |option-*{copilotName!=''&&copilotName!=null}| : 'option-false'"
                                class="col-7 second-option">
                                <input type="text" th:field="*{copilotName}" th:value="*{copilotName}"
                                       placeholder="NAZWISKO I IMIĘ">
                                <div class="btn btn-success second-option-button">Z bazy</div>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">ZADANIE</th>
                            <td class="col-7">
                                <input type="text" th:field="*{task}" th:value="*{task}">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">STATEK POWIETRZNY</th>
                            <td th:classappend="${action=='edit'}? |option-*{aircraft!=null}|"
                                class="col-7 first-option">
                                <select th:field="*{aircraft}">
                                    <option value="">brak</option>
                                    <option th:if="*{aircraft!=null}"
                                            th:unless="${#lists.contains(aircrafts,flight.aircraft)}"
                                            th:value="*{aircraft.id}"
                                            th:text="|*{aircraft.type} *{aircraft.registrationNumber}|"></option>
                                    <option th:each="aircraft: ${aircrafts}" th:value="${aircraft.id}"
                                            th:text="|${aircraft.type} ${aircraft.registrationNumber}|"></option>
                                </select>
                                <div class="btn btn-success first-option-button">Spoza bazy</div>
                            </td>
                            <td th:classappend="${action=='edit'}? |option-*{aircraft==null}| : 'option-false'"
                                class="col-7 second-option">
                                <input type="text" th:field="*{aircraftType}" th:value="*{aircraftType}"
                                       placeholder="TYP ST. POWIETRZNEGO"><br><br>
                                <input type="text" th:field="*{aircraftRegistrationNumber}"
                                       th:value="*{aircraftRegistrationNumber}" placeholder="ZNAKI ST. POWIETRZNEGO">
                                <div class="btn btn-success second-option-button">Z bazy</div>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">Godzina startu</th>
                            <td class="col-7">
                                <input type="time" th:field="*{start}" th:value="*{start}">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">Godzina lądowania</th>
                            <td class="col-7">
                                <input th:type="time" th:field="*{touchdown}" th:value="*{touchdown}">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">Załoga</th>
                            <td class="col-7">
                                <textarea th:field="*{crew}" th:value="*{crew}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <input th:if="${action}==add" class="btn btn-warning nav-link" th:type="submit"
                                       value="Dodaj">
                                <input th:if="${action}==edit" class="btn btn-warning nav-link" th:type="submit"
                                       value="Edytuj">
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
