<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title>SZCZEGÓŁY LOTU</title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">SZCZEGÓŁY LOTU</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4"
                                                       th:href="|@{/admin/${type}-flights/list?date=${flight.date}|}">Powrót</a>
                        </button>
                    </div>
                </div>
                <table class="table borderless" th:object="${flight}">
                    <tbody>

                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">ZATWIERDZONY</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{active==true}">TAK</td>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{active==false}">NIE</td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row">LOT HOLUJĄCY ZATWIERDZONY</th>
                            <td class="col-4" th:if="*{engineFlight.active==true}">TAK</td>
                            <td class="col-4" th:if="*{engineFlight.active==false}">NIE</td>
                        </tow>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">PILOT / UCZEŃ PILOT</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{instructor==true}"
                            th:text="*{copilotName}"></td>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{instructor==false}"
                            th:text="*{picName}"></td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row">HOLOWNIK</th>
                            <td class="col-4" th:if="*{engineFlight.instructor==true}"
                                th:text="*{engineFlight.copilotName}"></td>
                            <td class="col-4" th:if="*{engineFlight.instructor==false}"
                                th:text="*{engineFlight.picName}"></td>
                        </tow>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">II PILOT/ INSTRUKTOR/ PASAŻER</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{instructor==false}"
                            th:text="*{copilotName}"></td>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{instructor==true}"
                            th:text="*{picName}"></td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row" th:if="*{engineFlight.instructor==true}"> INSTRUKTOR -
                                HOLOWNIK
                            </th>
                            <td class="col-4" th:if="*{engineFlight.instructor==true}" th:text="*{picName}"></td>
                        </tow>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">INSTRUKTOR</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{instructor==true}">TAK</td>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="*{instructor==false}">NIE</td>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">ZADANIE</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:text="*{task}"></td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row">ZADANIE</th>
                            <td class="col-4" th:text="HOL"></td>
                        </tow>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">TYP STATKU POWIETRZNEGO</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:text="*{aircraftType}"></td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row">TYP STATKU HOLUJĄCEGO</th>
                            <td class="col-4" th:text="*{engineFlight.aircraftType}"></td>
                        </tow>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">ZNAKI STATKU POWIETRZNEGO</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'"
                            th:text="*{aircraftRegistrationNumber}"></td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row">ZNAKI SAMOLOTU HOLUJĄCEGO</th>
                            <td class="col-4" th:text="*{engineFlight.aircraftRegistrationNumber}"></td>
                        </tow>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">Data</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:text="*{date}"></td>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">Godzina startu</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:text="*{start}"></td>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">Godzina lądowania</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:text="*{touchdown}"></td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row">Godzina lądowania samolotu holującego</th>
                            <td class="col-4" th:text="*{engineFlight.touchdown}"></td>
                        </tow>
                    </tr>
                    <tr class="d-flex dashed">
                        <th class="col-2" scope="row">Czas lotu</th>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="${flight.flightTime%60>9}"
                            th:text="|*{flightTime/60}:*{flightTime%60}|"></td>
                        <td th:classappend="${type=='engine'}? 'col-7' : 'col-4'" th:if="${flight.flightTime%60<10}"
                            th:text="|*{flightTime/60}:0*{flightTime%60}|"></td>
                        <tow th:if="${type=='glider'&&flight.startMethod.toString().equals('ATTO')}">
                            <th class="col-2" scope="row">Czas lotu samolotu holującego</th>
                            <td class="col-4" th:if="${flight.engineFlight.flightTime%60>9}"
                                th:text="|*{engineFlight.flightTime/60}:*{engineFlight.flightTime%60}|"></td>
                            <td class="col-4" th:if="${flight.engineFlight.flightTime%60<10}"
                                th:text="|*{engineFlight.flightTime/60}:0*{engineFlight.flightTime%60}|"></td>
                        </tow>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
