<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="|Loty ${aircraft.registrationNumber}|"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>
<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <ul class="nav flex-column long-bg" th:include="flights/fragments/flights-filter-by-aircraft :: filter"></ul>
        <div class="m-4 p-3 width-medium">
            <div class="m-4 p-3 border-dashed view-height">

                <div class="row border-bottom border-3 p-1 m-1">
                    <div class="col noPadding">
                        <h3 class="text-color-darker text-uppercase"
                            th:text="|Loty ${aircraft.registrationNumber}|"></h3>
                    </div>
                    <div class="col-2 nav-link">
                        <a class="btn btn-primary nav-link"
                           th:href="@{/admin/aircrafts}">POWRÓT</a>
                    </div>
                </div>
                <div class="schedules-content table-header">
                    <table>
                        <thead>
                        <tr class="d-flex">
                            <th class="col-1">Lp.</th>
                            <th class="col-1">Data</th>
                            <th class="col-1">Pilot /Uczeń-Pilot</th>
                            <th class="col-1">Instruktor/ Pasażer/ II Pilot</th>
                            <th class="col-1">Zadanie</th>
                            <th class="col-1">Godzina Startu /Lądowania</th>
                            <th class="col-1">Czas Lotu</th>
                            <th class="col-1">Rodzaj startu / Holownik</th>
                            <th class="col-1">Samolot / Znaki</th>
                            <th class="col-1">Godzina Lądowania / Czas lotu</th>
                            <th class="col-2">Akcje</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="schedules-content list">
                    <table class="table">
                        <tbody class="text-color-lighter list">
                        <tr class="d-flex" th:each="flight,count: ${flights}">
                            <td class="col-1" th:text="${count.count}"></td>
                            <td class="col-1" th:text="${flight.date}"></td>
                            <instr th:if="${flight.instructor==true}">
                                <td class="col-1" th:text="${flight.copilotName}"></td>
                                <td class="col-1" th:text="${flight.picName}"></td>
                            </instr>
                            <not-instr th:if="${flight.instructor==false or flight.instructor==null}">
                                <td class="col-1" th:text="${flight.picName}"></td>
                                <td class="col-1" th:text="${flight.copilotName}"></td>
                            </not-instr>
                            <td class="col-1"
                                th:text="${flight.task}"></td>
                            <td class="col-1" th:utext="|${flight.start} <br> ${flight.touchdown}|"></td>
                            <td class="col-1" th:if="${flight.flightTime%60>9}"
                                th:text="|${flight.flightTime/60}:${flight.flightTime%60}|"></td>
                            <td class="col-1" th:if="${flight.flightTime%60<10}"
                                th:text="|${flight.flightTime/60}:0${flight.flightTime%60}|"></td>
                            <td class="col-1" th:if="${!flight.startMethod.toString().equals('ATTO')}"
                                th:text="${flight.startMethod}"></td>
                            <td class="col-1" th:if="${!flight.startMethod.toString().equals('ATTO')}"></td>
                            <td class="col-1" th:if="${!flight.startMethod.toString().equals('ATTO')}"></td>
                            <tow th:if="${flight.startMethod.toString().equals('ATTO')}"
                                 th:object="${flight.engineFlight}">
                                <td class="col-1" th:if="*{instructor==false}" th:text="*{picName}"></td>
                                <td class="col-1" th:if="*{instructor==true}"
                                    th:text="|*{copilotName} *{picName}|"></td>
                                <td class="col-1" th:utext="|*{aircraftType} <br> *{aircraftRegistrationNumber}|"></td>
                                <td class="col-1" th:if="*{flightTime%60>9}"
                                    th:utext="|*{touchdown} <br> *{flightTime/60}:*{flightTime%60}|"></td>
                                <td class="col-1" th:if="*{flightTime%60<10}"
                                    th:utext="|*{touchdown} <br> *{flightTime/60}:0*{flightTime%60}|"></td>
                            </tow>

                            <td class="col-2 center">
                                <a class="btn btn-info btn-sm"
                                   th:href="@{/admin/glider-flights/details(date=${flight.date}, id=${flight.id})}">Szczegóły</a>
                                <a class="btn btn-warning btn-sm"
                                   th:href="@{/admin/glider-flights/edit(date=${flight.date}, id=${flight.id})}">Edytuj</a>
                                <a class="btn btn-success btn-sm"
                                   th:href="@{/admin/glider-flights/add(date=${flight.date}, id=${flight.id} )}">Kopiuj</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:object="${summary}" th:include="flights/fragments/summary"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>