<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DODAJ LOT </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">dodaj lot</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a th:href="@{/admin/glider-flights/list(date=${flight.date})}"
                                                       class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </button>
                    </div>
                </div>
                <form th:action="@{/admin/glider-flights/add}" th:object="${flight}" method="post">
                    <table class="table borderless">
                        <tbody>
                        <input th:type="hidden" th:field="*{date}" th:value="*{date}"/>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">PILOT / UCZEŃ PILOT</th>
                            <td class="col-4">
                                <label class="first-option">
                                    <select th:field="*{pic}">
                                        <option value="">brak</option>
                                        <option class="first-option-value" th:each="pilot: ${pilots}"
                                                th:value="${pilot.id}"
                                                th:text="${pilot.name}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option" style="display: none">
                                    <input type="text" th:field="*{picName}" th:value="*{picName}"
                                           placeholder="NAZWISKO I IMIĘ">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                            <th scope="row" class="col-2 tow-section">HOLOWNIK</th>
                            <td class="col-4 tow-section">
                                <label class="first-option"><select th:field="*{engineFlight.pic}">
                                    <option value="">brak</option>
                                    <option th:each="pilot: ${towpilots}" th:value="${pilot.id}"
                                            th:text="${pilot.name}"></option>
                                </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option" style="display: none">
                                    <input type="text" th:field="*{engineFlight.picName}"
                                           th:value="*{engineFlight.picName}"
                                           placeholder="NAZWISKO I IMIĘ">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                            <td class="col-4 second-option" style="display: none">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">INSTRUKTOR</th>
                            <td class="col-4">
                                <input type="checkbox" th:field="*{instructor}" th:value="*{instructor}">
                            </td>
                            <th scope="row" class="col-2 tow-section">NAUKA HOLOWANIA</th>
                            <td class="col-4 tow-section">
                                <input type="checkbox" th:field="*{engineFlight.instructor}"
                                       th:value="*{engineFlight.instructor}">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">INSTRUKTOR / II PILOT</th>
                            <td class="col-4">
                                <label class="first-option">
                                    <select th:field="*{copilot}">
                                        <option value="">brak</option>
                                        <option class="pilots" th:each="pilot: ${pilots}" th:value="${pilot.id}"
                                                th:text="${pilot.name}"></option>
                                        <option class="instructors" th:each="instructor: ${instructors}"
                                                th:value="${instructor.id}"
                                                th:text="${instructor.name}"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option" style="display: none">
                                    <input type="text" th:field="*{copilotName}" th:value="*{copilotName}"
                                           placeholder="NAZWISKO I IMIĘ">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                            <th scope="row" class="col-2 tow-section">INSTRUKTOR HOLOWNIK</th>
                            <td class="col-4 tow-section">
                                <label class="first-option"><select th:field="*{engineFlight.copilot}">
                                    <option value="">brak</option>
                                    <option class="instructors" th:each="instructor: ${engineinstructors}"
                                            th:value="${instructor.id}"
                                            th:text="${instructor.name}"></option>
                                </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>

                                </label><label class="second-option" style="display: none">
                                <input type="text"
                                       th:field="*{engineFlight.copilotName}"
                                       th:value="*{engineFlight.copilotName}" placeholder="NAZWISKO I IMIĘ">
                                <div class="btn btn-success second-option-button">Z bazy</div>
                            </label>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">ZADANIE</th>
                            <td class="col-4">
                                <input type="text" th:field="*{task}" th:value="*{task}">
                            </td>
                            <th scope="row" class="col-2 tow-section">ZADANIE</th>
                            <td class="col-4 tow-section">
                                <input type="text" th:field="*{engineFlight.task}" placeholder="HOL" value="HOL"
                                       readonly>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">STATEK POWIETRZNY</th>
                            <td class="col-4">
                                <label class="first-option">
                                    <select th:field="*{aircraft}">
                                        <option value="">brak</option>
                                        <option th:each="aircraft: ${aircrafts}" th:value="${aircraft.id}"
                                                th:text="|${aircraft.type} ${aircraft.registrationNumber}|"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option" style="display: none">
                                    <input type="text" th:field="*{aircraftType}" th:value="*{aircraftType}"
                                           placeholder="TYP ST. POWIETRZNEGO"><br><br>
                                    <input type="text" th:field="*{aircraftRegistrationNumber}"
                                           th:value="*{aircraftRegistrationNumber}"
                                           placeholder="ZNAKI ST. POWIETRZNEGO">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                            <th scope="row" class="col-2 tow-section">SAMOLOT HOLUJĄCY</th>
                            <td class="col-4 tow-section">
                                <label class="first-option">
                                    <select th:field="*{engineFlight.aircraft}">
                                        <option value="">brak</option>
                                        <option th:each="aircraft: ${towaircrafts}" th:value="${aircraft.id}"
                                                th:text="|${aircraft.type} ${aircraft.registrationNumber}|"></option>
                                    </select>
                                    <div class="btn btn-success first-option-button">Spoza bazy</div>
                                </label>
                                <label class="second-option" style="display: none">
                                    <input type="text" th:field="*{engineFlight.aircraftType}"
                                           th:value="*{engineFlight.aircraftType}"
                                           placeholder="TYP ST. POWIETRZNEGO"><br><br>
                                    <input type="text" th:field="*{engineFlight.aircraftRegistrationNumber}"
                                           th:value="*{engineFlight.aircraftRegistrationNumber}"
                                           placeholder="ZNAKI ST. POWIETRZNEGO">
                                    <div class="btn btn-success second-option-button">Z bazy</div>
                                </label>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">Godzina startu</th>
                            <td class="col-4">
                                <input type="time" th:field="*{start}" th:value="*{start}">
                            </td>
                            <th scope="row" class="col-2 tow-section">Godzina startu</th>
                            <td class="col-4 tow-section">
                                <input type="time" th:field="*{engineFlight.start}" th:value="*{engineFlight.start}"
                                       readonly>
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">Godzina lądowania</th>
                            <td class="col-4">
                                <input th:type="time" th:field="*{touchdown}" th:value="*{touchdown}">
                            </td>
                            <th scope="row" class="col-2 tow-section">Godzina lądowania samolotu holującego</th>
                            <td class="col-4 tow-section">
                                <input th:type="time" th:field="*{engineFlight.touchdown}"
                                       th:value="*{engineFlight.touchdown}">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">Rozliczać szybowiec</th>
                            <td class="col-4">
                                <input type="checkbox" th:field="*{charge}" th:value="*{charge}" th:text="Tak">
                            </td>
                            <th scope="row" class="col-2 tow-section">Rozliczać holówkę</th>
                            <td class="col-4 tow-section">
                                <input type="checkbox" th:field="*{engineFlight.charge}" th:value="*{engineFlight.charge}" th:text="Tak">
                            </td>
                        </tr>
                        <tr class="d-flex dashed">
                            <th scope="row" class="col-2">Rodzaj startu</th>
                            <td class="col-4">
                                <select id="start-method" class="start-method" th:field="*{startMethod}">
                                    <option th:class="${method}" th:id="${method}"
                                            th:each="method: ${T(pl.jgora.aeroklub.airflightslist.model.StartMethod).values()}"
                                            th:text="${method}"
                                            th:value="${method}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <input class="btn btn-warning nav-link" th:type="submit" value="Dodaj">
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
