<header class="page-header" th:fragment="admin-header">
    <nav class="navbar navbar-expand-lg justify-content-between">
        <a href="/" class="navbar-brand main-logo main-logo-smaller">
            Aeroklub <span>Jeleniogórski</span>
        </a>
        <ul class="nav nounderline text-uppercase">
            <li class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/admin/pilots}">piloci</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/admin/aircrafts}">statki powietrzne</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/admin/engine-flights}">loty samolotowe</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/admin/glider-flights}">loty szybowcowe</a>
            </li><li class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/admin/users}">użytkownicy</a>
            </li>
            <li class="nav-item ml-4">
                <p class="nav-link">rozliczenia</p>
            </li>
        </ul>
        <div class="d-flex justify-content-around">
            <h4 class="text-light mr-3">Admin</h4>
            <div class="circle-div text-center"><i class="fas fa-user icon-user"></i></div>
        </div>
    </nav>
</header>