<header class="page-header" th:fragment="user-header">
    <nav class="navbar navbar-expand-lg justify-content-between">
        <a href="/" class="navbar-brand main-logo main-logo-smaller">
            Aeroklub <span>Jeleniogórski</span>
        </a>
        <ul class="nav nounderline text-uppercase">
            <li th:if="${pilot.enginePilot}" class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/user/engine-flights}">Loty Samolotowe</a>
            </li>
            <li th:if="${pilot.gliderPilot}" class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/user/glider-flights}">Loty Szybowcowe</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/user/details}">Moje Konto</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item ml-4">
                <a class="nav-link disabled" th:href="@{/admin}">Panel Administratora</a>
            </li>
        </ul>
        <div class="d-flex justify-content-around nav nounderline">
            <h4 class="text-light mr-3 nav-item"><a class="nav-link disabled" th:href="@{/logout}">Wyloguj</a></h4>
            <div class="circle-div text-center"><i class="fas fa-user icon-user"></i></div>
        </div>
    </nav>
</header>