<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dodaj Pilota</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">dodaj użytkownika</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a th:href="@{/admin/users}"
                                                       class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </button>
                    </div>
                </div>
                <form th:action="@{/admin/user/add}" th:object="${user}" method="post">
                    <table class="table borderless" th:object="${user}">
                        <tbody>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Login</th>
                            <td class="col-7"><input th:type="text" th:field="*{login}" th:value="*{login}"></td>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Hasło</th>
                            <td class="col-7"><input th:type="text" th:field="*{password}" th:value="*{password}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Aktywny:</th>
                            <td class="col-7"><input th:type="checkbox" th:field="*{active}" th:value="*{active}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Email</th>
                            <td class="col-7"><input th:type="email" th:field="*{email}" th:value="*{email}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">ROLA</th>
                            <td class="col-7"><select th:field="*{role}">
                                <option value="">brak</option>
                                <option th:each="role: ${roles}" th:value="${role.id}"
                                        th:text="${role.name}"></option>
                            </select></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">PILOT</th>
                            <td class="col-7"><select th:field="*{pilot}">
                                <option value="">brak</option>
                                <option class="pilots" th:each="pilot: ${pilots}" th:value="${pilot.id}"
                                        th:text="${pilot.name}"></option>
                            </select></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2"></th>
                            <td class="col-7">
                                <input class="btn btn-primary" type="submit" value="DODAJ">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
