<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title>Dodaj Pilota</title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">dodaj użytkownika</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4"
                                                       th:href="@{/admin/users}">Powrót</a>
                        </button>
                    </div>
                </div>
                <form method="post" th:action="@{/admin/user/edit}" th:object="${user}">
                    <table class="table borderless" th:object="${user}">
                        <tbody>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">Login</th>
                            <td class="col-7"><input readonly th:field="*{userName}" th:type="text"
                                                     th:value="*{userName}"></td>
                            </td>
                        </tr>
                        <input th:field="*{password}" th:type="hidden" th:value="*{password}">
                        <tr class="d-flex">
                            <th class="col-2" scope="row">Aktywny:</th>
                            <td class="col-7"><input th:field="*{active}" th:type="checkbox" th:value="*{active}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">ROLA</th>
                            <td class="col-7"><select th:field="*{role}">
                                <option value="">brak</option>
                                <option th:each="role: ${roles}" th:text="${role.name}"
                                        th:value="${role.id}"></option>
                            </select></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">PILOT</th>
                            <td class="col-7"><select th:field="*{pilot}">
                                <option value="">brak</option>
                                <option class="pilots" th:each="pilot: ${pilots}" th:text="${pilot.name}"
                                        th:value="${pilot.id}"></option>
                            </select></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row"></th>
                            <td class="col-7">
                                <input class="btn btn-primary" type="submit" value="DODAJ">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
