<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title>Zmiana hasła</title></head>
<body>
<header class="page-header" th:include="fragments/user-header :: user-header">

</header>

<section class="dashboard-section">
    <div class="container pt-4 pb-4">
        <div class="border-dashed view-height">
            <div class="container w-25">
                <form method="post" th:action="@{/user/password}" th:object="${user}"
                      class="padding-small text-center">
                    <h1 class="text-color-darker">Zmiana hasła</h1>
                    <div class="form-group">
                        <label for="password">
                            <p>Wprowadź nowe hasło</p>
                            <input type="password" class="form-control" id="password" th:field="*{password}"
                                   placeholder="podaj nowe hasło">
                            <br>
                            <p class="text-danger"
                               th:unless="${#httpServletRequest.getParameter('confirming') == null}">Hasła nie są
                                jednakowe!</p>
                            <input type="password" class="form-control" id="confirming-password"
                                   th:field="*{confirmingPassword}"
                                   placeholder="powtórz hasło">
                        </label>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </div>
                    <button class="btn btn-color rounded-0" type="submit">Zapisz</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>