<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title>Zmiana email</title>
</head>

<body>
<header class="page-header" th:include="fragments/user-header :: user-header">

</header>

<section class="dashboard-section">
    <div class="container pt-4 pb-4">
        <div class="border-dashed view-height">
            <div class="container w-25">
                <form class="padding-small text-center" method="post" th:action="@{/user/email/confirm}"
                      th:object="${user}">
                    <h1 class="text-color-darker">Zmiana emaila</h1>
                    <div class="form-group">
                        <label for="email">
                            <p class="text-danger"
                               th:unless="${#httpServletRequest.getParameter('email-available')==null}">Wybrany adres
                                email jest niedostępny</p>
                            <input class="form-control" id="email" placeholder="podaj nowy adres email" th:field="*{userName}"
                                   type="email">
                        </label>
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    </div>
                    <button class="btn btn-color rounded-0" type="submit">Zapisz</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>