<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title th:text="|użytkownik ${user.userName}|"></title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">Szczegółowe dane</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a th:href="@{/admin/users}"
                                                       class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </button>
                    </div>
                </div>

                <table class="table borderless">
                    <tbody>
                    <user-details th:object="${user}">
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Nazwa użytkownika:</th>
                            <td class="col-7" th:text="*{userName}"/>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Aktywny</th>
                            <td class="col-7" th:if="*{active}">TAK</td>
                            <td class="col-7" th:if="*{!active}">NIE</td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Uprawnienia na stronie</th>
                            <td class="col-7" th:text="*{role.name.substring(5)}"/>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Pilot</th>
                            <td class="col-7" th:if="${pilot}">
                                <a class="btn btn-primary" th:href="@{/admin/pilots/details(id=${pilot.id})}"
                                   th:text="${pilot.name}"></a>
                            </td>
                        </tr>
                    </user-details>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>