<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title>Lista użytkowników</title>
</head>
<body>

<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>
<section class="dashboard-section">
    <div class="row dashboard-nowrap">
        <div class="m-4 p-3 width-medium">
            <div class="m-4 p-3 border-dashed view-height">

                <div class="row border-bottom border-3 p-1 m-1">
                    <div class="col noPadding">
                        <h3 class="text-color-darker text-uppercase">lista pilotów</h3>
                    </div>
                    <div>
                        <button><a class="btn btn-success nav-link" th:href="@{/admin/user/add}">DODAJ UŻYTKOWNIKA</a>
                        </button>
                    </div>
                </div>

                <div class="schedules-content list">
                    <table class="table">
                        <thead>
                        <tr class="d-flex">
                            <th class="col-1">Lp.</th>
                            <th class="col-3">Login</th>
                            <th class="col-1">Rola</th>
                            <th class="col-3">Pilot</th>
                            <th class="col-2 center">AKCJE</th>
                            <th class="col-1 leftTop">AKTYWACJA /DEAKTYWACJA</th>
                        </tr>
                        </thead>
                        <tbody class="text-color-lighter">
                        <tr class="d-flex" th:each="user,count: ${users}">
                            <td class="col-1" th:text="${count.count}"></td>
                            <td class="col-3" th:text="${user.userName}"></td>
                            <td class="col-1" th:text="${user.role.name.substring(5)}"></td>
                            <td class="col-3 text-size-big" th:if="${user.pilot!=null}"
                                th:text="${user.pilot.name}"></td>
                            <td class="col-2 align-items-center justify-content-center flex-wrap">
                                <a class="btn btn-sm btn-info rounded-0 text-light m-1"
                                   th:href="@{/admin/user/details(id=${user.id})}">Szczegóły</a>
                                <a class="btn btn-sm btn-warning rounded-0 text-light m-1"
                                   th:href="@{/admin/user/edit(id=${user.id})}">Edytuj</a>
                            </td>
                            <td class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                                <form method="post"
                                      th:action="@{/admin/user/deactivate}"
                                      th:if="${user.active==true}" th:object="${user}">
                                    <label class="switch">
                                        <input name="id" th:value="*{id}" type="hidden">
                                        <input class="btn btn-danger rounded-0 text-light m-1" type="submit"
                                               value=""/>
                                        <span class="slider round item-active"></span>
                                    </label>
                                </form>
                                <form method="post"
                                      th:action="@{/admin/user/activate}"
                                      th:if="${user.active==false}" th:object="${user}">
                                    <label class="switch">
                                        <input name="id" th:value="*{id}" type="hidden">
                                        <input class="btn btn-success rounded-0 text-light m-1" type="submit"
                                               value=""/>
                                        <span class="slider round item-non-active"></span>
                                    </label>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>