<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>All Pilots</title>
</head>
<body>
<h1>All Pilots</h1>
<p><span th:text="${welcome}"/></p>
<p><span th:text="${size}"/></p>
<table>
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Piloci</th>
        <th>Szczegóły</th>
        <th>Edytuj</th>
        <th>Aktywuj/Deaktywuj</th>
    </tr>
    </thead>

    <tbody th:each="pilot,count: ${pilots}" >

    <tr>
        <td th:text="${count.count}"></td>
        <td th:text="${pilot.name}"/>
        <td><button>Szczegóły</button></td>
        <td><button>Edytuj</button></td>
        <td><button th:if="${pilot.active==true}"></button></td>
    </tr>
    </tbody>
</table>
</body>
</html>