<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Pilotów</title>
</head>
<body>
<h1>Lista pilotów</h1>
<p>Liczba pilotów: <span th:text="${pilots.size()}"/></p>
<table>
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Piloci</th>
        <th>Szczegóły</th>
        <th>Edytuj</th>
        <th>Aktywuj/Deaktywuj</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pilot,count: ${pilots}">
        <td th:text="${count.count}"></td>
        <td th:text="${pilot.name}"/>
        <td>
            <button>Szczegóły</button>
        </td>
        <td>
            <button>Edytuj</button>
        </td>
        <td>
            <form th:if="${pilot.active==true}"
                  th:action="@{/admin/pilots/deactivate}"
                  method="post" th:object="${pilot}">
                <input type="hidden" name="id" th:value="*{id}">
                <input type="submit" value="deactivate"/>
            </form>
            <form th:if="${pilot.active==false}"
                  th:action="@{/admin/pilots/activate}"
                  method="post" th:object="${pilot}">
                <input type="hidden" name="id" th:value="*{id}">
                <input type="submit" value="activate"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>