<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title th:text="${action=='add'}? 'Dodaj Statek Powietrzny' : |${aircraft.type} ${aircraft.registrationNumber}|"></title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase"
                                         th:text="${action=='add'}? 'Dodaj Statek Powietrzny' : |Edytuj ${aircraft.type} ${aircraft.registrationNumber}|"></h3>
                    </div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4"
                                                       th:href="@{/admin/aircrafts}">Powrót</a>
                        </button>
                    </div>
                </div>

                <form method="post" th:action="@{|/admin/aircraft/${action}|}" th:object="${aircraft}">
                    <input th:if="${action=='edit'}" th:name="id" th:type="hidden" th:value="*{id}">
                    <table class="table borderless" th:object="${aircraft}">
                        <tbody>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">KLASA</th>
                            <td class="col-7">
                                <label>
                                    <input th:field="*{engine}" th:type="radio"
                                           th:value="false">SZYBOWIEC</label>
                                <label>
                                    <input th:field="*{engine}" th:type="radio"
                                           th:value="true">SAMOLOT</label>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">TYP:</th>
                            <td class="col-7"><input th:field="*{type}" th:type="text" th:value="*{type}"></td>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">ZNAKI REJESTRACYJNE</th>
                            <td class="col-7"><input th:field="*{registrationNumber}" th:type="text"
                                                     th:value="*{registrationNumber}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">Aktywny:</th>
                            <td class="col-7"><input th:field="*{active}" th:type="checkbox" th:value="*{active}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">ARC</th>
                            <td class="col-7"><input th:field="*{arc}" th:type="date" th:value="*{arc}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">UBEZPIECZENIE</th>
                            <td class="col-7"><input th:field="*{insurance}" th:type="date"
                                                     th:value="*{insurance}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">NALOT CAŁKOWITY:</th>
                            <td class="col-7"><input class="hours" th:field="*{flyingTimeHours}" th:type="number"
                                                     th:value="*{flyingTimeHours}">:<input class="minutes"
                                                                                           th:field="*{flyingTimeMinutes}"
                                                                                           th:type="number"
                                                                                           th:value="*{flyingTimeMinutes}">
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">NASTĘPNA OBSSŁUGA PRZY NALOCIE:</th>
                            <td class="col-7"><input class="hours" th:field="*{workTimeHours}" th:type="number"
                                                     th:value="*{workTimeHours}">:<input class="minutes"
                                                                                         th:field="*{workTimeMinutes}"
                                                                                         th:type="number"
                                                                                         th:value="*{workTimeMinutes}">
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">NASTĘPNA OBSŁUGA PRZY NALOCIE OPIS</th>
                            <td class="col-7"><textarea th:field="*{nextWorkTimeDescription}"
                                                        th:value="*{nextWorkTimeDescription}"/></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">NASTĘPNA OBSŁUGA W DNIU:</th>
                            <td class="col-7"><input th:field="*{nextWorkDate}" th:type="date"
                                                     th:value="*{nextWorkDate}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">NASTĘPNA OBSŁUGA W DNIU OPIS:</th>
                            <td class="col-7"><textarea th:field="*{nextWorkDateDescription}"
                                                        th:value="*{nextWorkDateDescription}"/></td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2" scope="row">CENA</th>
                            <td class="col-7"><select th:field="*{price}" th:value="*{price}">
                                <option th:value=null>wybierz</option>
                                <option th:each="price : ${prices}" th:text="|${price.name} ${price.nativeMember}/${price.others}|"
                                        th:value="${price.id}"></option>
                            </select></td>
                        </tr>
                        <tr>
                            <th>
                                <input class="btn btn-warning nav-link" th:type="submit" value="Zapisz">

                            </th>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
