<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title th:text="${aircraft.registrationNumber}"></title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">
</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">Szczegółowe dane statku
                        powietrznego</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4"
                                                       th:href="@{/admin/aircrafts}">Powrót</a>
                        </button>
                    </div>
                </div>

                <table class="table borderless" th:object="${aircraft}">
                    <tbody>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">KLASA</th>
                        <td class="col-7" th:if="*{engine==true}">
                            SAMOLOT
                        </td>
                        <td class="col-7" th:if="*{engine==false}">
                            SZYBOWIEC
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">TYP</th>
                        <td class="col-7" th:text="*{type}"/>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">ZNAKI REJESTRACYJNE</th>
                        <td class="col-7" th:text="*{registrationNumber}"/>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">Aktywny:</th>
                        <td class="col-7" th:if="*{active==true}">TAK</td>
                        <td class="col-7" th:if="*{active==false}">NIE</td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">ARC</th>
                        <td class="col-7" th:text="*{arc}"/>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">UBEZPIECZENIE</th>
                        <td class="col-7" th:text="*{insurance}"/>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">NALOT CAŁKOWITY</th>
                        <td class="col-7"><span th:text="*{flyingTimeHours}"/>:<span th:text="*{flyingTimeMinutes}"/>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">NASTĘPNA OBSŁUGA PRZY NALOCIE</th>
                        <td class="col-7"><span th:text="*{workTimeHours}"/>:<span th:text="*{workTimeMinutes}"/>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">NASTĘPNA OBSŁUGA PRZY NALOCIE - OPIS</th>
                        <td class="col-7" th:text="*{nextWorkTimeDescription}"></td>

                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">NASTĘPNA OBSŁUGA W DNIU</th>
                        <td class="col-7" th:text="*{nextWorkDate}"></td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">NASTĘPNA OBSŁUGA W DNIU - OPIS</th>
                        <td class="col-7" th:text="*{nextWorkDateDescription}"></td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2" scope="row">CENA</th>
                        <td class="col-7"
                            th:text="*{price!=null}? |*{price.name} *{price.nativeMember}/*{price.others}| : 'brak'"></td>
                    </tr>
                    </tbody>
                    <div>
                        <a class="col-1 btn btn-warning nav-link" th:href="@{/admin/aircraft/edit(id=*{id})}">EDYTUJ</a>
                    </div>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>