<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head-details th:include="fragments/head-details :: head-details"></head-details>
    <title th:text="${aircraft.registrationNumber}"></title>
</head>
<body>
<header class="page-header" th:include="fragments/admin-header :: admin-header">

</header>

<section class="width-medium text-color-darker">
    <div class="pb-2">
        <div class="border-dashed view-height w-100">
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="text-color-darker text-uppercase">Edytuj dane aircrafta</h3></div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn-warning"><a th:href="@{/admin/aircrafts}"
                                                       class="nav-link rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </button>
                    </div>
                </div>

                <form th:action="@{/admin/aircraft/edit}" th:object="${aircraft}" method="post">
                    <input th:type="hidden" th:name="id" th:value="*{id}">
                    <table class="table borderless" th:object="${aircraft}">
                        <tbody>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">KLASA</th>

                            <td class="col-7">
                                <label>
                                    <input th:type="radio" th:field="*{engine}"
                                           th:value="false">SZYBOWIEC</label>
                                <label>
                                    <input th:type="radio" th:field="*{engine}"
                                           th:value="true">SAMOLOT</label>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">TYP:</th>
                            <td class="col-7"><input th:type="text" th:field="*{type}" th:value="*{type}"></td>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">ZNAKI REJESTRACYJNE</th>
                            <td class="col-7"><input th:type="text" th:field="*{registrationNumber}"
                                                     th:value="*{registrationNumber}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Aktywny:</th>
                            <td class="col-7"><input th:type="checkbox" th:field="*{active}" th:value="*{active}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">ARC</th>
                            <td class="col-7"><input th:type="date" th:field="*{arc}" th:value="*{arc}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">UBEZPIECZENIE</th>
                            <td class="col-7"><input th:type="date" th:field="*{insurance}"
                                                     th:value="*{insurance}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">NALOT CAŁKOWITY:</th>
                            <td class="col-7"><input class="hours" th:type="number" th:field="*{flyingTimeHours}"
                                                     th:value="*{flyingTimeHours}">:<input class="minutes"
                                                                                           th:type="number"
                                                                                           th:field="*{flyingTimeMinutes}"
                                                                                           th:value="*{flyingTimeMinutes}">
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">NASTĘPNA OBSSŁUGA PRZY NALOCIE:</th>
                            <td class="col-7"><input class="hours" th:type="number" th:field="*{workTimeHours}"
                                                     th:value="*{workTimeHours}">:<input class="minutes"
                                                                                         th:type="number"
                                                                                         th:field="*{workTimeMinutes}"
                                                                                         th:value="*{workTimeMinutes}">
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">NASTĘPNA OBSŁUGA PRZY NALOCIE OPIS</th>
                            <td class="col-7"><textarea th:field="*{nextWorkTimeDescription}"
                                                        th:value="*{nextWorkTimeDescription}"/></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">NASTĘPNA OBSŁUGA W DNIU:</th>
                            <td class="col-7"><input th:type="date" th:field="*{nextWorkDate}"
                                                     th:value="*{nextWorkDate}"></td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">NASTĘPNA OBSŁUGA W DNIU OPIS:</th>
                            <td class="col-7"><textarea th:field="*{nextWorkDateDescription}"
                                                        th:value="*{nextWorkDateDescription}"/></td>
                        </tr>
                        <tr>
                            <th>
                                <input class="btn btn-warning nav-link" th:type="submit" value="Zapisz zmiany">

                            </th>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
