<ul class="nav flex-column long-bg" th:fragment="filter">
    <h4 class="text-light">FILTRY</h4>
    <form action="/admin/aircrafts" method="get">
        <input type="hidden" name="filter" value="true">
        <li class="nav-item">
            <label>
                <button><input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="SZUKAJ">
                </button>
            </label>
        </li>
        <li class="nav-item">
            <label>
                TYP
                <input type="text" name="type">
            </label>
        </li>
        <li class="nav-item">
            <label>
                ZNAKI REJESTRACYJNE
                <input type="text" name="registration">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Aktywny:<br>
                <input type="radio" name="active" value=true>
                Tak
                <br>
                <input type="radio" name="active" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                <br>
                <input type="radio" name="engine" value=true>
                SAMOLOTY
                <br>
                <input type="radio" name="engine" value=false>
                SZYBOWCE
            </label>
        </li>
    </form>
</ul>
