<ul class="nav flex-column long-bg" th:fragment="filter" xmlns:th="http://www.thymeleaf.org">
    <h4 class="text-light">FILTRY</h4>
    <form th:action="@{/admin/aircrafts}" method="get" th:object="${aircraftFilter}">
        <input type="hidden" name="filter" value="true">
        <li class="nav-item">
            <label>
                <a class="btn btn-success">
                    <input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="SZUKAJ">
                </a>
            </label>
            <label>
                <a class="btn btn-danger" th:href="@{/admin/aircrafts}">Resetuj filtry</a>
            </label>
        </li>
        <li class="nav-item">
            <label>
                TYP
                <input type="text" th:field="*{type}" th:value="*{type}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                ZNAKI REJESTRACYJNE
                <input type="text" th:field="*{registration}" th:value="*{registration}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Aktywny:<br>
                <input type="radio" th:field="*{active}" value=true>
                Tak
                <br>
                <input type="radio" th:field="*{active}" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                <br>
                <input type="radio" th:field="*{engine}" value=true>
                SAMOLOTY
                <br>
                <input type="radio" th:field="*{engine}" value=false>
                SZYBOWCE
            </label>
        </li>
    </form>
</ul>
