<ul class="nav flex-column long-bg" th:fragment="filter" xmlns:th="http://www.thymeleaf.org">
    <h4 class="text-light">FILTRY</h4>
    <form method="get" th:action="@{/admin/aircrafts}" th:object="${aircraftFilter}">
        <input name="filter" type="hidden" value="true">
        <li class="nav-item">
            <label>
                <a class="btn btn-success">
                    <input class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" type="submit" value="SZUKAJ">
                </a>
            </label>
            <label>
                <a class="btn btn-danger" th:href="@{/admin/aircrafts}">Resetuj filtry</a>
            </label>
        </li>
        <li class="nav-item">
            <label>
                TYP
                <input th:field="*{type}" th:value="*{type}" type="text">
            </label>
        </li>
        <li class="nav-item">
            <label>
                ZNAKI REJESTRACYJNE
                <input th:field="*{registration}" th:value="*{registration}" type="text">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Aktywny:<br>
                <input th:field="*{active}" type="radio" value=true>
                Tak
                <br>
                <input th:field="*{active}" type="radio" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                <br>
                <input th:field="*{engine}" type="radio" value=true>
                SAMOLOTY
                <br>
                <input th:field="*{engine}" type="radio" value=false>
                SZYBOWCE
            </label>
        </li>
    </form>
</ul>
