<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Odzyskiwanie hasła </h1>
<div>
    <p>Oto Twoje nowe hasło do logowania:</p>
    <p class="">hasło: <span th:text="${password}">haslo</span></p>
    <p>Zaloguj się na stronie
        <button><a class="text-uppercase" th:href="${url}">aplikacji</a></button>
        aby ustawić swoje nowe hasło
    </p>
</div>
<p class="text-white text-center">w przypadku pytań pisz na aeroklubjeleniogorski@gmail.com</p>
</body>
</html>