<section class="dashboard-section" th:fragment="section">
    <div class="container  pt-4 pb-4">
        <div class="border-dashed view-height">

            <div class="padding-small" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-12 center">
                    <a class="btn btn-outline-success btn-block" th:href="@{/admin/users}"><p
                            class="display-4">Użytkownicy</p>
                    </a>
                </div>
            </div>
            <div class="padding-small" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-12 center">
                    <a class="btn btn-outline-success btn-block" th:href="@{/admin/pilots}"><p
                            class="display-4">Piloci</p>
                    </a>
                </div>
            </div>
            <div class="padding-small" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-12 center">
                    <a class="btn btn-outline-success btn-block" th:href="@{/admin/aircrafts}"><p
                            class="display-4">Statki powietrzne</p>
                    </a>
                </div>
            </div>
            <div class="padding-small" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-12 center">
                    <a class="btn btn-outline-success btn-block" th:href="@{/admin/engine-flights}"><p
                            class="display-4">Listy Samolotowe</p>
                    </a>
                </div>
            </div>
            <div class="padding-small" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-12 center">
                    <a class="btn btn-outline-success btn-block" th:href="@{/admin/glider-flights}"><p
                            class="display-4">Listy Szybowcowe</p>
                    </a>
                </div>
            </div>
            <div class="padding-small" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-12 center">
                    <a class="btn btn-outline-success btn-block" th:href="@{/user}"><p
                            class="display-4">Panel Użytkownika</p>
                    </a>
                </div>
            </div>
            <div class="padding-small" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-12 center">
                    <a class="btn btn-outline-success btn-block" th:href="@{/logout}"><p
                            class="display-4">Wyloguj</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>