<section class="dashboard-section" th:fragment="section">
    <div class="container  pt-4 pb-4">
        <div class="border-dashed view-height">

            <div sec:authorize="hasRole('ROLE_ADMIN')" class="padding-small">
                <div class="col-12 center">
                    <a th:href="@{/admin/users}" class="btn btn-outline-success btn-block"><p
                            class="display-4">Użytkownicy</p>
                    </a>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="padding-small">
                <div class="col-12 center">
                    <a th:href="@{/admin/pilots}" class="btn btn-outline-success btn-block"><p
                            class="display-4">Piloci</p>
                    </a>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="padding-small">
                <div class="col-12 center">
                    <a th:href="@{/admin/aircrafts}" class="btn btn-outline-success btn-block"><p
                            class="display-4">Statki powietrzne</p>
                    </a>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="padding-small">
                <div class="col-12 center">
                    <a th:href="@{/admin/engine-flights}" class="btn btn-outline-success btn-block"><p
                            class="display-4">Listy Samolotowe</p>
                    </a>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="padding-small">
                <div class="col-12 center">
                    <a th:href="@{/admin/glider-flights}" class="btn btn-outline-success btn-block"><p
                            class="display-4">Listy Szybowcowe</p>
                    </a>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="padding-small">
                <div class="col-12 center">
                    <a th:href="@{/user}" class="btn btn-outline-success btn-block"><p
                            class="display-4">Panel Użytkownika</p>
                    </a>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="padding-small">
                <div class="col-12 center">
                    <a th:href="@{/logout}" class="btn btn-outline-success btn-block"><p
                            class="display-4">Wyloguj</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>