<ul class="nav flex-column long-bg" th:fragment="filter" xmlns:th="http://www.thymeleaf.org">
    <h4 class="text-light">FILTRY</h4>
    <form th:action="@{/admin/pilot/engine-flights}" method="get" th:object="${flightsFilter}">
        <input type="hidden" name="filter" value="true">
        <input type="hidden" name="id" th:value="${pilot.id}">
        <li class="nav-item">
            <label>
                <button><input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="SZUKAJ">
                </button>
            </label>
        </li>
        <li class="nav-item">
            <label>
                Aktywne loty:<br>
                <input type="radio" th:field="*{active}" value=true>
                Tak
                <br>
                <input type="radio" th:field="*{active}" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Data początkowa
                <input type="date" th:field="*{from}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Data końcowa:
                <input type="date" th:field="*{to}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Zadanie:
                <input type="text" th:field="*{task}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Dowódca:<br>
                <input type="radio" th:field="*{pic}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{pic}" th:value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Instruktor:<br>
                <input type="radio" th:field="*{instructor}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{instructor}" th:value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                <select th:field="*{aircraft} ">
                    <option value="">brak</option>
                    <option th:each="aircraft: ${aircrafts}" th:value="${aircraft.id}"
                            th:text="|${aircraft.type} ${aircraft.registrationNumber}|"></option>
                </select>
            </label>
        </li>
        <li class="nav-item">
            <label>
                TYP:
                <input type="text" th:field="*{type}" th:value="*{type}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                ZNAKI:
                <input type="text" th:field="*{registration}" th:value="*{registration}">
            </label>
        </li>
    </form>
</ul>
