<ul class="nav flex-column long-bg" th:fragment="filter" xmlns:th="http://www.thymeleaf.org">
    <h4 class="text-light">FILTRY</h4>
    <form th:action="@{/admin/aircraft/flights}" method="get" th:object="${flightsFilter}">
        <input type="hidden" name="filter" value="true">
        <input type="hidden" name="id" th:value="${aircraft.id}">
        <li class="nav-item">
            <label>
                <button><input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="SZUKAJ">
                </button>
            </label>
        </li>
        <li class="nav-item">
            <label>
                Aktywne loty:<br>
                <input type="radio" th:field="*{active}" value=true>
                Tak
                <br>
                <input type="radio" th:field="*{active}" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Data początkowa
                <input type="date" th:field="*{from}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Data końcowa:
                <input type="date" th:field="*{to}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Zadanie:
                <input type="text" th:field="*{task}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Instruktor:<br>
                <input type="radio" th:field="*{instructor}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{instructor}" th:value=false>
                Nie
            </label>
        </li>
        <li th:if="${aircraft.engine==true}" class="nav-item">
            <label>
                HOL:<br>
                <input type="radio" th:field="*{tow}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{tow}" th:value=false>
                Nie
            </label>
        <li class="nav-item">
            <label>
                Metoda startu:
                <select th:field="*{start}">
                    <option value="">brak</option>
                    <option th:each="method: ${T(pl.jgora.aeroklub.airflightslist.model.StartMethod).values()}"
                            th:text="${method}"
                            th:value="${method}"></option>
                </select>
            </label>
        </li>
        </li>
    </form>
</ul>
