<ul class="nav flex-column long-bg" th:fragment="filter" xmlns:th="http://www.thymeleaf.org">
    <h4 class="text-light">FILTRY</h4>
    <form th:action="${category!='user'}? @{|/admin/${category}/${type}-flights|} : @{|/user/${type}-flights|}"
          method="get" th:object="${flightsFilter}">
        <input type="hidden" name="filter" value="true">
        <input th:if="${category=='pilot'}" type="hidden" name="id" th:value="${pilot.id}">
        <input th:if="${category=='aircraft'}" type="hidden" name="id" th:value="${aircraft.id}">
        <li class="nav-item">
            <label>
                <button><input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="SZUKAJ">
                </button>
            </label>
        </li>
        <li th:if="${category!='user'}" class="nav-item">
            <label>
                Aktywne loty:<br>
                <input type="radio" th:field="*{active}" value=true>
                Tak
                <br>
                <input type="radio" th:field="*{active}" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Data początkowa:<br>
                <input type="date" th:field="*{from}" th:value="*{from}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Data końcowa:<br>
                <input type="date" th:field="*{to}" th:value="*{to}">
            </label>
        </li>
        <li class="nav-item">
            <label>
                Zadanie:<br>
                <input type="text" th:field="*{task}" th:value="*{task}">
            </label>
        </li>
        <li th:if="${category!='aircraft'}" class="nav-item">
            <label>
                Dowódca:<br>
                <input type="radio" th:field="*{pic}" value=true>
                Tak
                <br>
                <input type="radio" th:field="*{pic}" value=false>
                Nie
            </label>
        </li>
        <li class="nav-item">
            <label>
                Instruktor:<br>
                <input type="radio" th:field="*{instructor}" value=true>
                Tak
                <br>
                <input type="radio" th:field="*{instructor}" value=false>
                Nie
            </label>
        </li>
        <li th:if="${category!='aircraft'}" class="nav-item">
            <label class="first-option">
                Statek powietrzny:
                <select th:field="*{aircraft}">
                    <option value="">brak</option>
                    <option th:each="aircraft: ${aircrafts}" th:value="${aircraft.id}"
                            th:text="|${aircraft.type} ${aircraft.registrationNumber}|"></option>
                </select>
                <div class="btn btn-success first-option-button">Spoza bazy</div>
            </label>
            <label class="second-option" style="display: none">
                TYP:
                <input type="text" th:field="*{type}">
                ZNAKI:
                <input type="text" th:field="*{registration}">
                <div class="btn btn-success second-option-button">Z bazy</div>
            </label>
        </li>
        <li th:if="${type=='engine'&&category=='aircraft'}" class="nav-item">
            <label>
                HOL:<br>
                <input type="radio" th:field="*{tow}" th:value=true>
                Tak
                <br>
                <input type="radio" th:field="*{tow}" th:value=false>
                Nie
            </label>
        <li class="nav-item">
            <glider th:if="${type=='glider'}">
        <li class="nav-item">
            <label>
                Metoda startu:
                <select th:field="*{start}">
                    <option value="">brak</option>
                    <option th:each="method: ${T(pl.jgora.aeroklub.airflightslist.model.StartMethod).values()}"
                            th:text="${method}"
                            th:value="${method}"></option>
                </select>
            </label>
        </li>
        </glider>
    </form>
</ul>
