<div th:fragment="pdf" xmlns:th="http://www.w3.org/1999/xhtml">
    <form method="post" th:action="@{/create-pdf}" th:object="${pdf}">
        <input th:field="*{engineFlights}" th:value="*{engineFlights}" type="hidden">
        <input th:field="*{gliderFlights}" th:value="*{gliderFlights}" type="hidden">
        <input th:field="*{type}" th:value="*{type}" type="hidden">
        <input th:field="*{glider}" th:value="*{glider}" type="hidden">
        <input th:type="submit" value="Pobierz PDF">
    </form>
</div>