<div th:frgment="summary" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <div th:text="|SUMA LOTÓW: *{totalFlights}|"></div>
        <div>
            <p>CAŁKOWITY CZAS LOTU</p>
            <div class="col-1" th:if="*{totalTime%60>9}"
                 th:text="|*{totalTime/60}:*{totalTime%60}|"></div>
            <div class="col-1" th:if="*{totalTime%60<10}"
                 th:text="|*{totalTime/60}:0*{totalTime%60}|"></div>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th class="col-4">Statek powietrzny</th>
            <th class="col-4">Ilość lotów</th>
            <th class="col-4">Suma czasu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aircraft: *{getAircraftSummary()}">
            <td class="col-4" th:text="|${aircraft.aircraftType} - ${aircraft.aircraftRegistrationNumber}|"></td>
            <td class="col-4" th:text="${aircraft.numberOfFlights}"></td>
            <td class="col-4" th:if="${aircraft.totalTime%60>9}"
                th:text="|${aircraft.totalTime/60}:${aircraft.totalTime%60}|"></td>
            <td class="col-4" th:if="${aircraft.totalTime%60<10}"
                th:text="|${aircraft.totalTime/60}:0${aircraft.totalTime%60}|"></td>
        </tr>
        </tbody>
    </table>
</div>